**

!pyproject.toml
!uv.lock
!README.md
!hatch_build.py
!data_juicer/
!data_juicer/**
!tools/
!tools/**
!docker/
!docker/entrypoint.sh

data_juicer/**/__pycache__/
data_juicer/**/*.py[cod]
tools/**/__pycache__/
tools/**/*.py[cod]

